{{>header}}
    <title>ExpressCRUD | Edit</title>
{{>navbar}}

<div class="mid-section">
    <div class="container">
        <h5 class="background text-light text-center my-3 p-2">Update Employee Record</h5>
        <form action="/edit/{{data._id}}" method="post">
            <div class="mb-3">
                <input type="text" name="name" id="name" placeholder="Full Name" class="form-control" value={{data.name}}>
                {{#if errorMessages.name}}
                <p class="text-danger">{{errorMessages.name}}</p>
                {{/if}}
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="email" name="email" id="email" placeholder="Email address" class="form-control" value={{data.email}}>
                    {{#if errorMessages.email}}
                    <p class="text-danger">{{errorMessages.email}}</p>
                    {{/if}}
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" name="phone" id="phone" placeholder="Phone Number" class="form-control" value={{data.phone}}>
                    {{#if errorMessages.phone}}
                    <p class="text-danger">{{errorMessages.phone}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" name="designation" id="designation" placeholder="Designation" class="form-control" value={{data.designation}}>
                    {{#if errorMessages.designation}}
                    <p class="text-danger">{{errorMessages.designation}}</p>
                    {{/if}}
                </div>
                <div class="col-md-6 mb-3">
                    <input type="number" name="salary" id="salary" placeholder="Salary" class="form-control" value={{data.salary}}>
                    {{#if errorMessages.salary}}
                    <p class="text-danger">{{errorMessages.salary}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" name="city" id="city" placeholder="City" class="form-control" value={{data.city}}>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" name="state" id="state" placeholder="State" class="form-control" value={{data.state}}>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
       
    </div>
</div>
{{>footer}}
    
    